<nav class="main-nav text-right" role="navigation">
    <ul>
    <!--Home link -- multiple conditions because hbs doesn't have "or".-->
    {{#if post}}
        <li><a class="" href="{{@blog.url}}/">Home</a></li>
    {{/if}}
    {{#if tag}}
        <li><a class="" href="{{@blog.url}}/">Home</a></li>
    {{/if}}
    {{#if author}}
        <li><a class="" href="{{@blog.url}}/">Home</a></li>
    {{/if}}

    <!--Add static pages here-->
    <!--<li><a href="http://photos.mihneadb.net" target="_blank">Photos</a></li>-->
    <li><a href="{{@blog.url}}/about">About</a></li>

    <!--RSS -->
    {{#if tag}}
        <li><a href="{{@blog.url}}/tag/{{tag.slug}}/rss/"><i class="fa fa-rss" ></i> {{tag.name}}</a></li>
    {{else}}
        <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss" ></i> Subscribe</a></li>
    {{/if}}
    </ul>
</nav>
